# Arquivo .gitignore

# Ambiente Virtual Python
venv/
*.venv
env/
ENV/
.env/
.venv/

# Arquivo de variáveis de ambiente
.env

# Cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de Sistema Operacional específicos
.DS_Store
Thumbs.db

# Arquivos de configuração de IDEs (opcional, mas recomendado)
.vscode/
.idea/
*.project
*.sublime-project
*.sublime-workspace